
/* Search css start  */

.header {
  display: flex;
  justify-content: space-evenly;
}

.search-logo {
  display: flex;
}

.logo {
  margin-top: 10px;
}

.logo a {
  font-size: 35px;
  border-right: 1px solid black;
  margin-left: 30px;
  padding-right: 30px;
  color: black;
  height: 90px;
}

.ig-text a {
  font-size: 28px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.search-link {
  padding-top: 15px;
}

.input {
  height: 30px;
  width: 170px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
}

.ig-text {
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  padding-top: 5px;
}

.side-icons {
  display: flex;
  padding-top: 15px;
  font-size: 30px;
  margin-right: 30px;
}

.profile {
  padding-right: 20px;
}

.liked {
  padding-right: 20px;
}

.compass {
  padding-right: 20px;
}

/* Search css end */

/* thumbnail css here */
 .thumbnail-container {
   display: flex;
   margin-left: 15px;
 }

 .thumbnail-container img {
   border-radius: 50%;
   height: 30px;
   margin-right: 12px;
   margin-bottom: 8px;
 }

 .username {
   margin-top: 3px;
   font-weight: bolder;
   font-size: 20px;
 }
 
 .post {
   margin-top: 20px;
   margin-left: 420px;
 }

.likes {
  margin-bottom: 20px;
  margin-left: 15px;
}


.page-icons {
  display: flex;
  margin: 10px 15px;
  font-size: 25px;
}

.fa-heart {
  margin-right: 15px;
}

span {
  margin-left: 10px;
  font-weight: 400;
}

.comment-section {
  margin-bottom: 10px;
  margin-left: 15px;
  font-weight: bolder;
}

.comment-input {
  width: 610px;
  height: 30px;
  font-size: 15px;
  border: 1px solid white;
  border-top: 1px solid grey;
  margin-top: 10px;
  margin-left: 15px;
}
/* thumbnail css end */