.loginPage {
    margin-top: 100px;
    text-align: center;
    border: 2px solid black;
    width: 800px;
    height: 500px;
    margin-left: 300px;
    background-color: #E83A87;
}

.header-text {
    color: white;
}

#ig {
    font-size: 80px;
    margin-top: 50px;
    text-shadow: 1px 1px 2px black;
}

.placehold input {
    background-color: #E83A87;
    height: 25px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    opacity: 1; 
}

.username {
    margin-bottom: 15px;
}

.password {
    margin-bottom: 15px;
}

.submit {
    background-color: #E83A87;
    color: #F8F8F8;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid white;
    text-shadow: 1px 1px 2px black;
}

.or {
    color: white;
    text-shadow: 1px 1px 2px black;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
}

.fb {
    color: white;
    display: flex;
    text-align: center;
    margin-left: 313px;
    text-shadow: 1px 1px 2px black;
}

#fb {
    font-size: 30px;
    padding-top: 10px;
    margin-right: 10px;
    text-shadow: 1px 1px 2px black;
}